In [1]:
import pandas as pd
print('version: ',pd.__version__)

version:  2.2.3

In [3]:
import pandas as pd
list=[1,2,5,78,45]
myseries=pd.Series(list)
print(myseries)
print(myseries[3])

0     1
1     2
2     5
3    78
4    45
dtype: int64
78

In [7]:
import pandas as pd
a=[1,4,6,8]
myvar=pd.Series(a,index=["a","b","c","d"])
print(myvar)
print(myvar['b'])

a    1
b    4
c    6
d    8
dtype: int64
4

In [12]:
employee={
    "id":1,
    "name":"VinuthaG",
    "email":"vinutha@gmail.com",
    "address":"Ballari",
    "salary":8749823759870938145
}
data=pd.Series(employee)
print(data)
print("id",data["id"])
print("name",data["name"])
print("email",data["email"])
print("address",data["address"])
print("salary",data["salary"])

id                           1
name                  VinuthaG
email        vinutha@gmail.com
address                Ballari
salary     8749823759870938145
dtype: object
id 1
name VinuthaG
email vinutha@gmail.com
address Ballari
salary 8749823759870938145

In [13]:
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["nyc","la","Chocago"]
}
df=pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25      nyc
1      Bob   30       la
2  Charlie   35  Chocago

In [14]:
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35],
    "City":["nyc","la","Chocago"]
}
myvar=pd.DataFrame(data)
print(myvar)
print("FirstRow:")
print(myvar.loc[0])
print(myvar.loc[[0,1]])

      Name  Age     City
0    Alice   25      nyc
1      Bob   30       la
2  Charlie   35  Chocago
FirstRow:
Name    Alice
Age        25
City      nyc
Name: 0, dtype: object
    Name  Age City
0  Alice   25  nyc
1    Bob   30   la

In [15]:
sample={
    "id":[1,2,3,4],
    "name":["A","B","C","D"]
}
df = pd.DataFrame(sample)
print(df.loc[0])
print(df.iloc[0,1])
print(df.loc[[0,1]])

id      1
name    A
Name: 0, dtype: object
A
   id name
0   1    A
1   2    B

In [16]:
print(df.loc[[0,3]])

   id name
0   1    A
3   4    D

In [17]:
user_data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35]
}
df1=pd.DataFrame(user_data,index=["user1","user2","user3"])
print(df1.loc["user3"])
print(df1)

Name    Charlie
Age          35
Name: user3, dtype: object
          Name  Age
user1    Alice   25
user2      Bob   30
user3  Charlie   35

In [19]:
user_data={
    "Age":[25,30,35],
    "Name":["Alice","Bob","Charlie"],
    "Address":["ballari","mysore","beng"]
}
df1=pd.DataFrame(user_data,columns=["Name","Address","Age"])
print(df1)

      Name  Address  Age
0    Alice  ballari   25
1      Bob   mysore   30
2  Charlie     beng   35

In [20]:
import pandas as pd
 
# Function to get user input
def get_user_input():
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    salary = int(input("Enter salary: "))
    email = input("Enter email: ")
    return {"name": name, "age": age, "salary": salary, "email": email}
 
# Initial data
user_data = {
    "name": ["alex", "catty", "bob"],
    "age": [23, 24, 23],
    "salary": [54678, 56789, 98765],
    "email": ["alex@gmail.com", "cat@gmail.com", "bob@gmail.com"]
}
 
# Get new user input
new_user = get_user_input()
 
# Append new user data to the existing data
for key in user_data:
    user_data[key].append(new_user[key])
 
# Create DataFrame
df1 = pd.DataFrame(user_data, columns=["name", "age", "email", "salary"])
print(df1)

Enter name:  vinutha
Enter age:  23
Enter salary:  2897298347
Enter email:  vinitha@gmail.com

      name  age              email      salary
0     alex   23     alex@gmail.com       54678
1    catty   24      cat@gmail.com       56789
2      bob   23      bob@gmail.com       98765
3  vinutha   23  vinitha@gmail.com  2897298347

In [23]:
user_data=[
    ["Alice",25,"ballari"],
    ["vinutha",22,"mysore"],
    ["chandana",21,"pandavapura"]
]
df1=pd.DataFrame(user_data,columns=["Name","Age","city"])
print(df1)

       Name  Age         city
0     Alice   25      ballari
1   vinutha   22       mysore
2  chandana   21  pandavapura

In [25]:
student_data=pd.read_csv('student_data.csv')
print(student_data)

     id               name                          email  gender  ip_address
0     1     Dominic Alwell         dalwell0@moonfruit.com    Male          10
1     2       Pascal Ladel                  pladel1@51.la    Male           6
2     3       Gaby Chidler             gchidler2@admin.ch  Female           5
3     4      Craig Stirley  cstirley3@acquirethisname.com    Male           5
4     5  Charline McFadyen         cmcfadyen4@nytimes.com  Female          10
..  ...                ...                            ...     ...         ...
95   96      Husain Briers        hbriers2n@blinklist.com    Male           4
96   97     Alameda Delves             adelves2o@nasa.gov  Female           7
97   98   Rochette O'Devey        rodevey2p@indiegogo.com  Female           3
98   99         Porty Adin              padin2q@google.pl    Male           2
99  100      Lilly Hartles             lhartles2r@usa.gov  Female           4

[100 rows x 5 columns]

In [29]:
student_data.head()
# print(student_data.head())

   id               name                          email  gender  ip_address
0   1     Dominic Alwell         dalwell0@moonfruit.com    Male          10
1   2       Pascal Ladel                  pladel1@51.la    Male           6
2   3       Gaby Chidler             gchidler2@admin.ch  Female           5
3   4      Craig Stirley  cstirley3@acquirethisname.com    Male           5
4   5  Charline McFadyen         cmcfadyen4@nytimes.com  Female          10

In [30]:
print(student_data.to_string())

     id                 name                                email       gender  ip_address
0     1       Dominic Alwell               dalwell0@moonfruit.com         Male          10
1     2         Pascal Ladel                        pladel1@51.la         Male           6
2     3         Gaby Chidler                   gchidler2@admin.ch       Female           5
3     4        Craig Stirley        cstirley3@acquirethisname.com         Male           5
4     5    Charline McFadyen               cmcfadyen4@nytimes.com       Female          10
5     6     Kerrill Toseland            ktoseland5@bravesites.com       Female           5
6     7            Loria Alp                     lalp6@ustream.tv       Female           4
7     8       Harper Nickels               hnickels7@yolasite.com         Male           5
8     9          Corbie Macy                    cmacy8@sbwire.com         Male           7
9    10  Lauraine MacAnespie           lmacanespie9@angelfire.com       Female           1
10   11      Gipsy Sictornes           gsictornesa@shutterfly.com     Bigender           3
11   12        Loydie Nestor                     lnestorb@cmu.edu         Male           3
12   13       Nolana Huncote              nhuncotec@google.com.hk       Female           6
13   14         Hodge Loffel                  hloffeld@census.gov         Male           8
14   15         Zeb Witherop               zwitherope@t-online.de         Male           5
15   16       Lexine Gonneau                    lgonneauf@nps.gov       Female          10
16   17        Brittne Anger                    bangerg@wiley.com       Female           4
17   18         Kyla Benditt                     kbenditth@si.edu       Female           7
18   19       Brandea Latore               blatorei@clickbank.net       Female           5
19   20        Elias Bubbear                 ebubbearj@paypal.com         Male          10
20   21      Rochell Jullian                rjulliank@addthis.com       Female           4
21   22  Nathalia Skelington            nskelingtonl@sakura.ne.jp       Female          10
22   23       Giraldo Backen              gbackenm@technorati.com         Male           6
23   24  Bartholomeus Bewley                 bbewleyn@yahoo.co.jp         Male           7
24   25      Gilemette Belle              gbelleo@photobucket.com       Female           3
25   26        Lorie Waldren          lwaldrenp@printfriendly.com       Female          10
26   27    Marena Errichelli  merrichelliq@networkadvertising.org       Female           3
27   28        Tyson Kunneke                  tkunneker@google.es         Male           3
28   29      Teresina Posten                 tpostens@youtube.com       Female           3
29   30     Christal Etchell                  cetchellt@prlog.org       Female           7
30   31          Jude Keymer                   jkeymeru@globo.com         Male           1
31   32          Alida Teare                     atearev@about.me       Female           9
32   33      Prudi Binestead             pbinesteadw@e-recht24.de       Female           7
33   34    Clair Hallyburton          challyburtonx@economist.com         Male           9
34   35   Davita Fitzmaurice           dfitzmauricey@amazon.co.uk       Female           1
35   36        Ryon Dodswell               rdodswellz@spotify.com         Male          10
36   37          Sidney Bloy                    sbloy10@lycos.com         Male           6
37   38       Terry Ranyelld                  tranyelld11@msu.edu         Male           2
38   39     Shayna Schechter     sschechter12@businessinsider.com       Female           3
39   40       Shem Antonazzi               santonazzi13@tmall.com         Male           9
40   41        Tally Schustl              tschustl14@hatena.ne.jp         Male           4
41   42    Steven Kolczynski        skolczynski15@livejournal.com         Male           5
42   43   Federico MacGinlay                 fmacginlay16@cdc.gov         Male          10
43   44       Iorgos Salamon                  isalamon17@ucla.edu         Male           4
44   45         Jenn Guisler                    jguisler18@w3.org       Female           6
45   46   Franciskus Fautley               ffautley19@weather.com         Male           4
46   47        Reube Sillito                rsillito1a@sbwire.com         Male           6
47   48       Marlo Leythley              mleythley1b@walmart.com         Male          10
48   49        Price Sayward              psayward1c@netscape.com         Male           4
49   50       Lindsy Snaddin                  lsnaddin1d@furl.net       Female          10
50   51       Avigdor MacArd                amacard1e@walmart.com         Male           3
51   52  Ursulina Le Pruvost                     ule1f@boston.com       Female           3
52   53      Serene Tressler               stressler1g@uol.com.br       Female           7
53   54      Kilian Bourdice                  kbourdice1h@last.fm         Male           2
54   55     Samantha Brearty                 sbrearty1i@baidu.com       Female           7
55   56        Rossy O' Lone                    ro1j@geocities.jp         Male           6
56   57        Godfry Boyall             gboyall1k@washington.edu         Male           1
57   58       Muffin Durrett               mdurrett1l@dedecms.com       Female           1
58   59    Phillie O'Longain            polongain1m@123-reg.co.uk       Female           3
59   60        Gilligan Pryn                      gpryn1n@fda.gov       Female           1
60   61       Jerrome Dungey                     jdungey1o@360.cn         Male           4
61   62     Adelina Levecque                  alevecque1p@bbb.org       Female           2
62   63        Kaye Margetts                   kmargetts1q@qq.com       Female           2
63   64            Gran Hune                ghune1r@xinhuanet.com         Male           8
64   65      Grenville Otham                  gotham1s@census.gov         Male           1
65   66         Abdel Seefus                aseefus1t@storify.com         Male           3
66   67           Edd Meldon                emeldon1u@shop-pro.jp         Male           2
67   68           Olin Faich                   ofaich1v@desdev.cn         Male           7
68   69     Anastasie Farman             afarman1w@purevolume.com       Female          10
69   70       Wayne Gheraldi             wgheraldi1x@netvibes.com         Male          10
70   71        Barret Harwin              bharwin1y@cafepress.com         Male           6
71   72        Prent Ladbury                pladbury1z@nature.com         Male           8
72   73        Svend Le Guin                     sle20@reddit.com         Male          10
73   74         Sile Whooley            swhooley21@purevolume.com       Female           1
74   75       Keelby Colrein          kcolrein22@biblegateway.com         Male           6
75   76     Doroteya Marquet               dmarquet23@oaic.gov.au       Female           5
76   77          Burch Croll                bcroll24@japanpost.jp         Male           8
77   78          Marys Jimes                  mjimes25@forbes.com       Female           1
78   79     Modestine Gregan                mgregan26@oaic.gov.au       Female           4
79   80          Abba Heakey                 aheakey27@boston.com         Male           4
80   81       Hewet Lilliman          hlilliman28@istockphoto.com         Male           3
81   82        Tripp Podbury             tpodbury29@123-reg.co.uk         Male           5
82   83         Bail Wreakes               bwreakes2a@addthis.com         Male           1
83   84        Dennet Borges                  dborges2b@google.nl         Male           2
84   85        Sonnie Gayler           sgayler2c@businesswire.com       Female           3
85   86         Licha Sacher                    lsacher2d@umn.edu       Female           2
86   87          Jorie Mainz                     jmainz2e@gnu.org       Female          10
87   88         Herold Jorck              hjorck2f@whitehouse.gov         Male           5
88   89  Teirtza MacLoughlin      tmacloughlin2g@surveymonkey.com  Genderqueer          10
89   90      Moyna Huskinson       mhuskinson2h@elegantthemes.com       Female           1
90   91       Montague Sybry               msybry2i@amazonaws.com         Male           1
91   92           Cloris Sor                   csor2j@sina.com.cn       Female           8
92   93       Ashley Leghorn              aleghorn2k@gravatar.com       Female           9
93   94        Verena Dannel            vdannel2l@studiopress.com       Female           2
94   95      Stanton Gobolos                   sgobolos2m@mtv.com         Male           1
95   96        Husain Briers              hbriers2n@blinklist.com         Male           4
96   97       Alameda Delves                   adelves2o@nasa.gov       Female           7
97   98     Rochette O'Devey              rodevey2p@indiegogo.com       Female           3
98   99           Porty Adin                    padin2q@google.pl         Male           2
99  100        Lilly Hartles                   lhartles2r@usa.gov       Female           4

In [31]:
print(student_data.head(3))

   id            name                   email  gender  ip_address
0   1  Dominic Alwell  dalwell0@moonfruit.com    Male          10
1   2    Pascal Ladel           pladel1@51.la    Male           6
2   3    Gaby Chidler      gchidler2@admin.ch  Female           5

In [32]:
print(student_data.tail(3))

     id              name                    email  gender  ip_address
97   98  Rochette O'Devey  rodevey2p@indiegogo.com  Female           3
98   99        Porty Adin        padin2q@google.pl    Male           2
99  100     Lilly Hartles       lhartles2r@usa.gov  Female           4

In [34]:
print(student_data.shape)

(100, 5)

In [36]:
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   name        100 non-null    object
 2   email       100 non-null    object
 3   gender      100 non-null    object
 4   ip_address  100 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.0+ KB
None

In [37]:
student_data.describe()

               id  ip_address
count  100.000000   100.00000
mean    50.500000     5.14000
std     29.011492     2.98826
min      1.000000     1.00000
25%     25.750000     3.00000
50%     50.500000     5.00000
75%     75.250000     7.00000
max    100.000000    10.00000

In [38]:
print(student_data.describe())

               id  ip_address
count  100.000000   100.00000
mean    50.500000     5.14000
std     29.011492     2.98826
min      1.000000     1.00000
25%     25.750000     3.00000
50%     50.500000     5.00000
75%     75.250000     7.00000
max    100.000000    10.00000

In [40]:
student_data[['id','name','email']].head()

   id               name                          email
0   1     Dominic Alwell         dalwell0@moonfruit.com
1   2       Pascal Ladel                  pladel1@51.la
2   3       Gaby Chidler             gchidler2@admin.ch
3   4      Craig Stirley  cstirley3@acquirethisname.com
4   5  Charline McFadyen         cmcfadyen4@nytimes.com

In [41]:
student_data['gender'].describe()

count      100
unique       4
top       Male
freq        52
Name: gender, dtype: object

In [ ]:
store=pd.read_csv('Store_data.csv)
most_sold_product=store.groupby('Product')